<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>

<body>

<th:block th:include="~{fragments/navbar}"></th:block>

<div class="container">
    <main>


        <div class="container" th:object="${products}">
            <div class="row">
                <th:block th:each="p : ${products}">
                    <div class="col-md-4">
                        <div class="container page-wrapper">
                            <div class="page-inner">
                                <div class="row">
                                    <div class="el-wrapper">
                                        <div class="box-up">
                                            <div class="category-menu">

                                            </div>

                                            <div class="box-down">
                                                <div class="h-bg">
                                                    <div class="h-bg-inner"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>

    </main>

    <th:block th:include="~{fragments/footer}"></th:block>
</div>
<script src="/js/products.js"></script>

</body>
</html>