<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
    <link rel="stylesheet" type="text/css" th:href="@{/css/pop-up.images.css}">
    <script th:src="@{/js/pop-up.images.js}"></script>
</head>
<body>
<header>
    <th:block th:include="~{fragments/navbar}"></th:block>
</header>

<div class="page-header mb-0" style="background: wheat">
    <div class="container" th:object="${products}">
        <div class="row">
            <div class="offset-md-3 col-md-7">
                <h2 th:text="*{name}"></h2>
            </div>
        </div>
        </br>
        <div class="row mt-2">
            <div class="col-md-7">
                <a class="image-link" th:href="*{imageUrl}">
                    <div class="polaroid">
                        <img class="rounded" th:src="*{imageUrl}" alt="Bicycle"
                             style="max-width: 450px; width:400px;   max-height: 400px; height:350px; ">
                    </div>
                </a>
            </div>
            <div class="col-md-3">
                <div class="bg-light p-3 border border-secondary">
                    <form th:object="${products}" th:action="@{/orders/add}" th:method="post">
                        <input type="hidden" name="id" th:value="${products.id}">
                        <!--                        <input type="hidden" name="productId" th:value="${products.id}">-->

                        <div class="form-group">
                            <div class="row">
                                <div class="col-6">
                                    <p class="mb-0">Price</p>
                                    <!--                        <del><h4 th:text="${products.price} + '$'"></h4></del>-->
                                    <h3 class="text-danger"
                                        th:text="${#numbers.formatDecimal(products.price, 1, 2, 'COMMA')} + '$'">
                                    </h3>
                                </div>
                                <div class="col-6">
                                    <p class="mb-0">Quantity</p>
                                    <h4 class="text-danger"
                                        th:text="${products.quantity} + 'g'">
                                    </h4>
                                </div>
                            </div>
                        </div>

                        <hr>

                        <div class="form-group">
                            <label for="select-quantity">Count</label>
                            <br>
                            <input required type="number"
                                   step="1" min="1" max="100" value="1"
                                   id="select-quantity" name="totalQuantity">
                        </div>
                        <hr>


                        <button type="submit" class="btn btn-danger font-weight-bold">Add to cart</button>

                    </form>
                </div>
            </div>
        </div>
        </br>
        </br>
        <div class="row mt-2">
            <div class="col-8">
                <h3 class="text-center">Ingredients :</h3>
                <div class="text-dark" th:text="*{description}"></div>
            </div>
            <th:block sec:authorize="hasAuthority('ADMIN')">
                <div class="col-2">

                    <a id="edit-product" th:href="@{/products/edit/{id}(id=${products.id})}"
                       class="btn btn-danger">Edit</a>
                </div>
                <div class="col-2">
                    <form class="del-product" th:action="@{/products/delete/{id}(id=${products.id})}" th:method="post">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </th:block>
        </div>
    </div>
</div>

</div>
</div>
<div>
    <th:block th:include="~{fragments/footer}"></th:block>
</div>
</div>
</body>
<script>
    $(document).ready(function () {
        $('.image-link').magnificPopup({
            type: 'image',
            mainClass: 'mfp-with-zoom',

            zoom: {
                enabled: true,

                duration: 300,
                easing: 'ease-in-out',
                opener: function (openerElement) {
                    return openerElement.is('img') ? openerElement : openerElement.find('img');
                }
            }
        });
    });
</script>
<script>
    $('.collapse').collapse()
</script>
</html>