<th:block th:fragment>
    <a th:href="@{/home}" class="nav-item nav-link active">Home</a>
    <!--    <a th:href="@{/about/us}" class="nav-item nav-link">About</a>-->
    <!--    <a href="feature.html" class="nav-item nav-link">Feature</a>-->
    <!--    <a href="team.html" class="nav-item nav-link">Chef</a>-->
    <a th:href="@{/menu/all}" class="nav-item nav-link">Menu</a>
    <th:block>

    </th:block>

    <th:block >
        <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Booking</a>
            <div class="dropdown-menu">
                <a th:href="@{/booking/new}" class="nav-item nav-link">Make Booking</a>
                <a th:href="@{/booking/user}" class="nav-item nav-link">My Booking </a>
            </div>
        </div>
        <a th:href="@{/orders/mine}" class="nav-item nav-link">My orders </a>
    </th:block>



    <th:block>
        <a th:href="@{/orders/all}" class="nav-item nav-link">All Orders</a>
        <a th:href="@{/booking/all}" class="nav-item nav-link">All Booking</a>
        <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Create</a>
            <div class="dropdown-menu">
                <a th:href="@{/products/add}" class="nav-item nav-link">Add Product</a>
                <a th:href="@{/category/add}" class="nav-item nav-link">Add Category</a>
            </div>
        </div>
        <a th:href="@{/about/contact}" class="nav-item nav-link">Contact</a>
    </th:block>


    <li class="nav-item active">
        <form action="/logout?login" method="post">
            <input type="hidden">
            <button class="nav-link bg-transparent border-0">Logout</button>
        </form>
    </li>


</th:block>