<div class="carousel">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-lg-8 mx-auto">
                    <h3 class="login-heading mb-4">Welcome back!</h3>
                    <form th:action="@{/users/login}" th:method="post" th:object="${model}">
                        <div class="form-label-group"
                             th:classappend="${#fields.hasErrors('username')}? 'text-danger'">
                            <label for="inputUsername">Username</label>
                            <input id="inputUsername" class="form-control" placeholder="Username" name="username"
                                   required autofocus th:field="*{username}">
                            <small th:each="error : ${#fields.errors('username')}"
                                   th:utext="${error}  + '&lt;br /&gt;'"></small>
                            </br>
                        </div>

                        <div class="form-label-group">
                            <label for="inputPassword">Password</label>
                            <input type="password" id="inputPassword" class="form-control" placeholder="Password"
                                   name="password" required>
                            </br>
                        </div>


                        <button class="btn btn-lg btn-dark btn-block btn-login text-uppercase font-weight-bold mb-2"
                                type="submit"> Login
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>