<!DOCTYPE html>
<!--<global-method-security secured-annotations="enabled" />-->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<head>
  <th:block th:include="~{fragments/head}"></th:block>
</head>

<body>
<!-- Nav Bar Start -->
<th:block th:include="~{fragments/navbar}"></th:block>

<div class="page-header mb-0">
  <div class="px-4 px-lg-0">
    <div class="pb-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5">

            <!-- Shopping cart table -->
            <div class="table-responsive">
              <table class="table">
                <thead>
                <tr>
                  <th scope="col" class="border-0 bg-light">
                    <div class="p-2 px-3 text-uppercase">Name</div>
                  </th>
                  <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase">Data</div>
                  </th>
                  <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase">Time</div>
                  </th>
                  <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase">Guests</div>
                  </th>
                  <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase"></div>
                  </th>
                </tr>
                </thead>
                <tbody id="all-booking">

                </tbody>
              </table>
            </div>
            <!-- End -->
          </div>
        </div>


      </div>
    </div>
  </div>
</div>

<div>
  <th:block th:include="~{fragments/footer}"></th:block>

</div>

</body>

<script>

  const bookingUrl = '/booking/fetchAll';

  fetch(bookingUrl)
          .then((response) => response.json())
          .then((json) => {
            json.forEach((booking) => $('#all-booking')
                    .append(`<tr>
<td class="border-0 align-middle">
                                            <strong>${booking.name}</strong>
                                        </td>

                                        <td class="border-0 align-middle">
                                            <strong >${booking.date}</strong>
                                        </td>

                                        <td class="border-0 align-middle">
                                            <strong>${booking.time}</strong>
                                        </td>

                                        <td class="border-0 align-middle">
                                            <strong>${booking.guests}</strong>
                                        </td>
</tr>`))
          })
          .catch((err) => console.log(err));

</script>



</html>


