<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>

    <body>
        <!-- Nav Bar Start -->
        <th:block th:include="~{fragments/navbar}"></th:block>
        <!-- Nav Bar End -->


        <!-- Page Header Start -->
        <div class="page-header mb-0">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>Food Menu</h2>
                    </div>
                    <div class="col-12">
                        <a href="">Home</a>
                        <a href="">Menu</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Header End -->


        <!-- Food Start -->
        <div class="food mt-0">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-4" th:each="category: ${categories}">
                        <div class="food-item">
                            <i class="flaticon-burger"></i>
                            <h2 th:text="${category.categoryType}">Burgers</h2>
                            <input type="hidden" th:id="${category.id}" name="custId" value="3487">
                            <p>
                                Lorem ipsum dolor sit amet elit. Phasel nec pretium mi. Curabit facilis ornare velit non vulputa. Aliquam metus tortor auctor quis sem.
                            </p>
                            <a type="button" class="item" th:href="@{/menu/details/{id}(id=${category.id})}">View Menu</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <th:block th:include="~{fragments/footer}"></th:block>

        <script src="/js/products.js"></script>
    </body>

</html>
